<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>不明真相的 Setup / {{page.title}}</title>
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/feed/" rel="alternate" title="Atom feed" type="application/atom+xml">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width;initial-scale=1">
		<base href="http://setup.torriacg.org/">
	</head>
	<body>
		<div>
			<header>
				<h1>不明真相的 Setup / <span>{{page.title}}</span></h1>
				<p id="tagline">你如何改变生活？</p>
			
				<nav>
					<ul>
						<li><a href="/" title="The most recent interviews.">首页</a></li>
						<li><a href="/interviews/" title="All the other interviews.">采访</a></li>
						<li><a href="/about/" title="A little more info about the site.">关于</a></li>
					</ul>
				</nav>
			</header>

			<section id="contents">
				{{content}}
			</section>
			<footer>
				<p>2009-2013 <a href="http://torriacg.org">TorriACG</a>. Some rights reserved. Hosted at
                <a href="http://www.linode.com/?r=b8fa3c27b4c36e8c07611e56fdc03ca934869d17">Linode</a></p>
                <p>由 <a href="http://usesthis.com/">usesthis</a> 驱动</p>
			</footer>
			</div>
	</body>
</html>