---
layout: default
title: 采访
---

<h2>采访</h2>
<p>现在已经有 {{site.posts | size}} 条采访。</p>

<h3>按年</h3>
<ul>
{% for year in page.years %}
	{% capture interview_count %}{{year[1] | size}}{% endcapture %}
	<li><a href="/interviews/{{year[0]}}/" title="View all the interviews from {{year[0]}}.">{{year[0]}}</a> <span class="summary">({{interview_count}} interview{% if interview_count != 1%}s{% endif %})</span></li>
{% endfor %}
</ul>

<h3>按分类</h3>
{% for category in site.categories %}
<a href="/interviews/{{category[0]}}" rel="category" title="View all '{{category[0]}}' interviews.">{{category[0]}}</a>
{% endfor %}